<div class="page-header">
  <h1>
    Reduce, Relax

  </h1>
</div>
<div style='display:none'>
  <%= @hate_items = @items.where("joy_level = 'hate'")
  @meh_items = @items.where("joy_level = 'meh'")
  @love_items = @items.where("joy_level = 'love'")
   %>
</div>
<div class="row">
  <div class="col-md-12">
    <table id = "Hate" class="table table-striped table-hover">
      <tr> <h3>You hate these things...time to get rid of them!</h3>
        <th>Name</th>
        <th>Picture</th>
        <th>Description</th>
        <th>Category</th>
        <th>Location</th>
        <th>Status</th>
        <!-- <th>Posted by</th> -->
        <th>Brings Joy?</th>
        <th>Actions</th>
      </tr>

      <% @hate_items.each do |hate_item| %>
      <tr>
        <td><%= hate_item.name %></td>
        <td><%= hate_item.url_picture %></td>
        <td><%= hate_item.description %></td>
        <td><%= hate_item.category %></td>
        <td><%= hate_item.location %></td>
        <td><%= hate_item.status %></td>
        <!-- <td><%= hate_item.posted_by %></td> -->
        <td><%= hate_item.joy_level %></td>
        <td>
          <a href="/items/<%= hate_item.id %>/donate" class="btn btn-primary">Donate</a>
          <a href="/items/<%= hate_item.id %>/trash" class="btn btn-warning">Trash</a>
          <a href="/items/<%= hate_item.id %>/sell" class="btn btn-danger" rel="nofollow">Sell</a>
        </td>
      </tr>
      <% end %>
    </table>
    <table id = "Meh" class="table table-striped table-hover">
      <tr><h3>"Meh" complicates your life</h3>
        <th>Name</th>
        <th>Picture</th>
        <th>Description</th>
        <th>Category</th>
        <th>Location</th>
        <th>Status</th>
        <!-- <th>Posted by</th> -->
        <th>Brings Joy?</th>
        <th>Actions</th>
      </tr>

      <% @meh_items.each do |meh_item| %>
      <tr>
        <td><%= meh_item.name %></td>
        <td><%= meh_item.url_picture %></td>
        <td><%= meh_item.description %></td>
        <td><%= meh_item.category %></td>
        <td><%= meh_item.location %></td>
        <td><%= meh_item.status %></td>
        <!-- <td><%= meh_item.posted_by %></td> -->
        <td><%= meh_item.joy_level %></td>
        <td>
          <a href="/items/<%= meh_item.id %>/donate" class="btn btn-primary">Donate
          </a>
          <!-- <input type="date" id="Donate">Donate</input> -->

          <a href="/items/<%= meh_item.id %>/trash" class="btn btn-warning">Trash</a>
          <a href="/items/<%= meh_item.id %>/sell" class="btn btn-danger" rel="nofollow">Sell</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<a href="/items/new" class="btn btn-lg btn-success">Add Item</a>
